<a href="https://colab.research.google.com/github/FedirAnichkin/FedirAnichkin.github.io/blob/master/colab_files/template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Authenticate user to google cloud with your current credentials
from google.colab import auth
auth.authenticate_user()

In [2]:
# imports BigQuery, DataFrames and syntax for sql
from google.cloud import bigquery
import bigframes.pandas as bpd
from google.colab import syntax

# connecting to BigQuery
project_id = 'allright-234310'
client = bigquery.Client(project=project_id)

In [3]:
# Set BigQuery DataFrames options
bpd.options.bigquery.project = project_id
bpd.options.bigquery.location = "US"

In [4]:
query = syntax.sql('''
  SELECT distinct variant, user_id, student_id, trial_finished_student, paid
  FROM `allright-234310.ab_tests.exp_funnel_v10_table`
''')

# Load data from a BigQuery table using BigFrames DataFrames:
bq_df = bpd.read_gbq(query)

In [8]:
bq_df.sort_values(by=['variant'], ascending=True).head(15)

   variant  user_id  student_id  trial_finished_student  paid
0        A  1058886        <NA>                    <NA>  <NA>
1        A  1063921        <NA>                    <NA>  <NA>
6        A  1062495        <NA>                    <NA>  <NA>
9        A  1061863        <NA>                    <NA>  <NA>
10       A  1059277        <NA>                    <NA>  <NA>
11       A  1061255     1061255                    <NA>  <NA>
14       A  1064674        <NA>                    <NA>  <NA>
15       A  1060569        <NA>                    <NA>  <NA>
17       A  1062592        <NA>                    <NA>  <NA>
19       A  1054773        <NA>                    <NA>  <NA>
22       A  1062519        <NA>                    <NA>  <NA>
25       A  1061108        <NA>                    <NA>  <NA>
28       A  1066445        <NA>                    <NA>  <NA>
29       A  1063713     1063713                 1063713  <NA>
31       A  1061916        <NA>                    <NA>  <NA>

[15 rows x 5 columns]